{% extends 'BlogBundle::base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}
{% block content %}
    Użytkownik: <b>{{ user.username }}</b>
                 {% if user.points == 0 %}
                  <p>Nie posiadasz punktów</p>
                {% else %}
                    <p>Punktów: {{ user.points }}</p>
                {% endif %}

    {% for achievement in achievements %}
        Odnzaka: <b>{{ achievement.title }}</b>,
        Id: <b>{{ achievement.id }}</b><br />
    {% endfor %}
{% endblock %}