{% extends 'BlogBundle::base.html.twig' %}

{% block title %}{{ article.title }} - {{ article.description }}{% endblock %}
{% block content %}
    <header>
        <h2> {{ article.title }} </h2>
    </header>
    Opis:
    <p>{{ article.description }}</p>
    <p>Dodane przez: <font color="red">{{ article.author.username }}</font></p>
{% endblock %}