{% extends 'BlogBundle::base.html.twig' %}

{% block title %}Edytuj artykuł{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}