{% extends 'BlogBundle::base.html.twig' %}

{% block title %}{{ achievement.title }} - {{ achievement.description }} ({{ achievement.points }}pkt ){% endblock %}
{% block content %}
    <header>
        <h2> {{ achievement.title }} </h2>
    </header>
    Opis:
    {{ achievement.description }}

    <a href="{{ path('blog_achievement_get', {'id' : achievement.id}) }}" style="color: lightgreen;font-size: 16px;font-weight: 800;"><p>Zdobądź odznakę</p></a>
{% endblock %}