{% extends 'BlogBundle::base.html.twig' %}

{% block title %}Odznaki{% endblock %}
{% block content %}
    {% for achievement in achievements %}
            <header>
                <h2><a href="{{ path('blog_achievement', {'id' : achievement.id}) }}"> {{ achievement.title }} ({{ achievement.points }}pkt ) </a></h2>
            </header>
            <p>
                {{ achievement.description }}
            </p>
            <a href="{{ path('blog_achievement_get', {'id' : achievement.id}) }}" style="color: lightgreen;font-size: 16px;font-weight: 800;"><p>Zdobądź odznakę</p></a>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <a href="{{ path('blog_achievement_edit', {'id' : achievement.id}) }}">Edytuj</a>
                <a href="{{ path('blog_achievement_delete', {'id' : achievement.id}) }}">Usuń</a>
            {% endif %}
    {% else %}
        <p>Brak odznak.</p>
    {% endfor %}
{% endblock %}