{% extends 'BlogBundle::base.html.twig' %}

{% block title %}Strona Główna{% endblock %}
{% block content %}
    {% for article in articles %}
        <header>
            <h2><a href="{{ path('blog_article', {'id' : article.id}) }}"> {{ article.title }} </a></h2>
        </header>
        <p>
            {{ article.description }}
        </p>
        {% if is_granted("ROLE_SUPER_ADMIN") %}
            <a href="{{ path('blog_article_edit', {'id' : article.id}) }}"> Edytuj</a>
            <a href="{{ path('blog_article_delete', {'id' : article.id}) }}"> Usuń</a>
        {% endif %}
    {% else %}
        <p>Brak artykułów.</p>
    {% endfor %}
{% endblock %}